<header>
  <div (click)="toggleMenu(1);" [ngClass]="{'open-menu': menuOpened === 1}" class="header-top clearfix">
    <h1 class="l-left"><a href="#menuAnchor1">Your Logo</a></h1>
    <a class="l-right toggle-menu" href="#">
      <i></i>
      <i></i>
      <i></i>
    </a>
  </div>
  <nav class="hide">
    <ul id="menu">
      <li data-menuanchor="menuAnchor1">
        <a href="#menuAnchor1" title="Home">Home</a>
      </li>
      <li data-menuanchor="menuAnchor2">
        <a href="#menuAnchor2" title="About">About</a>
      </li>
      <li data-menuanchor="menuAnchor3">
        <a href="#menuAnchor3" title="Testimonials">Testimonials</a>
      </li>
      <li data-menuanchor="menuAnchor4">
        <a href="#menuAnchor4" title="Contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
<div mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true"
[mnFullpageControlArrows]="false" class="fullpage-wrapper">
  <section data-anchor="menuAnchor1" class="section fp-section fp-table">
    <div class="fp-tableCell">
      Home
    </div>
  </section>
  <section data-anchor="menuAnchor2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      About
    </div>
  </section>
  <section data-anchor="menuAnchor3" class="section fp-section fp-table">
    <div class="fp-tableCell">
      Testimonials
    </div>
  </section>
  <section data-anchor="menuAnchor4" class="section fp-section fp-table">
    <div class="fp-tableCell">
      Contact
    </div>
  </section>
</div>
