body {
    margin: 0;
}

#fp-nav a span, .fp-slidesNav a span {
    background: #1c2d7f !important;
}

/* SLIDENAV STYLES */
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav a.active span, 
.fp-slidesNav a.active span {
	margin: -8px 0 0 -8px;
	background: #87A90c !important;
	box-sizing: border-box;
	border: 1px solid #24221F;
}